.bg-image {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(50, 50, 50, 0.7)), url('/img17.jpg');
  height: 60vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.section {
  padding: 80px 0;
}

.section h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: bold;
}

.service-card {
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(4, 241, 23, 0.959);
  text-align: center;
  margin-bottom: 30px;
}

.service-card i {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.service-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.service-card p {
  font-size: 1.1rem;
  color: #6c757d;
}

.fa_i {
  color: var(--primary-color);
}
