.bg-image {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(50, 50, 50, 0.7)), url('/img13.jpg');
  height: 60vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}
.section {
      padding: 80px 0;
  }

  .section h2 {
      margin-bottom: 40px;
      font-size: 2.5rem;
      font-weight: bold;
  }

  .section p {
      font-size: 1.1rem;
      line-height: 1.8;
  }

  .team-member {
      text-align: center;
      margin-bottom: 30px;
  }

  .team-member img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
  }

  .team-member h4 {
      font-size: 1.5rem;
      margin-bottom: 10px;
  }

  .team-member p {
      font-size: 1rem;
      color: var(--text-white);
  }


  .text-i {
      color: var(--primary-color);
  }
