<app-navbar *ngIf="!authService.isLoggedIn()"></app-navbar>
<!--<nav  class="main-navbar">
  <div class="nav-brand">
    <h2>🏢 Gestion Immobilière</h2>
  </div>
  <div class="nav-links">
    <a routerLink="/login" class="nav-link">Connexion Client</a>
    <a routerLink="/login/admin" class="nav-link admin-link">Espace Admin</a>
    <a routerLink="/register" class="nav-link">Inscription</a>
  </div>
</nav>-->

<!-- Le reste reste identique -->
<app-navbar-admin *ngIf="authService.isLoggedIn() && authService.isAdmin()"></app-navbar-admin>
<app-navbar-client *ngIf="authService.isLoggedIn() && authService.isClient()"></app-navbar-client>

<main>
  <router-outlet></router-outlet>
</main>
<app-footer *ngIf="!authService.isLoggedIn()"></app-footer>
